<!DOCTYPE html>
<html>
<head>
    <title>Create Business</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Create Business</h2>
        <form id="createBusinessForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" required>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('#createBusinessForm').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: '{% url "create_business" %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    name: $('#name').val(),
                    description: $('#description').val()
                }),
                success: function(response) {
                    alert('Business Created: ' + response.businessId);
                }
            });
        });
    </script>
</body>
</html>
